<footer class="footer">

    <div class="footer-grid">

        <div>
            <h3>Shanti Marg Yatra</h3>

            <p>
                Your trusted spiritual
                travel partner for Mahakal
                Darshan and Ujjain tours.
            </p>
        </div>

        <div>
            <h3>Quick Links</h3>

            <a href="/homepage">Home</a><br>
            <a href="/about">About</a><br>
            <a href="/services">Services</a><br>
            <a href="/packages">Tours</a>
        </div>

        <div>
            <h3>Contact</h3>

            <p>📍 Ujjain, Madhya Pradesh</p>
            <p>📞 +91 6263657357</p>
        </div>

    </div>

    <div class="copyright">
        © 2026 Shanti Marg Yatra
    </div>

</footer>